
body{
    background-color:rgb(165, 72, 155)
   /*text-align: center; */

}
.submit-btn{
    margin-top: 7px;
    background-color:green;
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 150px;
    font-family: 'Times New Roman', Times, serif;

    transition: background-color 1s ,color 1s;
  }
  .submit-btn:hover{
    background-color: aliceblue;
    color:rebeccapurple
  }
.subscribe-btn {
    background-color:tomato;
    color: white;
    margin-top:40px;
    border: red;
    height: 36px;
    width: 105px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 150px;
    font-family: 'Times New Roman', Times, serif;
  }
  .subscribe-btn:hover{
    box-shadow: 15px 10px 5px rgba(0,0,0,0.5);

  }
  .me {
    background-color:skyblue;
    color: white;
    border: none;
    height: 50px;
    width: 400px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    box-shadow: 15px 10px 5px rgba(0,0,0,0.5);
  }
  .container{
    text-decoration: dotted;
  }
  a{
    color: aliceblues;
  }